{% extends 'header.html' %}
{% load static %}
{% block content %}

<body>

{% if messages %}
{% for message in messages %}
<div class="alert {{message.extra_tags}}">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong> {{ message }}</strong>
</div>
{% endfor %}
{% endif %}


<h1> Hot Dogs </h1>

<div class="autoplay">
    {% for c in caes %}
    <div>
        <a href="{% url 'dog_show' id=c.Id %}">
            <img class="" style="width: 200px; height: 200px"
                 src="{{ MEDIA_URL }}{{ c.Foto.url }}" alt="">

        </a>
    </div>

    {% endfor %}
</div>


<script type="text/javascript">

$(document).ready(function(){
    $('.autoplay').slick({
    variableWidth: true,
    variableHeight: true,
      slidesToShow: 3,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 2000,
});
});



</script>


{% for post in posts %}

<div class="row">

    <!-- Blog Post Content Column -->
    <div class="col-lg-12">

        <!-- Blog Post -->

        <!-- Title -->
        <h1>{{ post.Titulo }}</h1>

        <!-- Author -->
        <p class="lead">
            por <a href="#">{{ user.username }}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p><span class="glyphicon glyphicon-time"></span> Postado em {{ post.DataPublicacao }}</p>

        <hr>


        <!-- Post Content -->
        <p class="lead">{{ post.Texto }}</p>

        <hr>
    </div>
</div>

{% endfor %}

</body>
{% endblock %}


