{% extends 'header.html' %}

{% block content %}

{% load static %}


<div class="hero-spacer">
    {% for c in caes %}
    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">

            <img src="{{ MEDIA_URL }}{{ c.Foto.url }}" style="width: 200px; height: 200px" alt="">

            <div class="caption">
                <h3>{{c.Nome}}</h3>
                <p>


                    <a href="{% url 'dog_show' id=c.Id %}" class="btn btn-default">Informações</a>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
