{% extends "header.html" %}
{% load widget_tweaks %}

{% block content %}


<form class="form-inline" action="{% url 'user_create' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}


{% for field in UserForm %}
	{% if field.label != "Foto" and field.label != "Info" %}
		<label>
			{{field.label}}
		</label>
		<p>
			{{field|add_class:"form-control"}}
		</p>
	{% endif %}
{% endfor %}


<input type="submit" class="btn btn-primary" value="Enviar"/>

                     <a href="/" class="btn btn-danger" role="button">
                            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true">&nbsp;</span>Cancelar
                        </a>
</form>

{% endblock %}
