{% extends "header.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}


<form class="form-inline" action="/dog/create/" method="post" enctype="multipart/form-data">
{% csrf_token %}


{% for field in DogForm %}
	{% if field.label != "Foto" and field.label != "Informações" and field.label != "Data de Registro" %}
		<label>{{field.label}}</label>
		<p>{{field|add_class:"form-control"}}</p>
	{% endif %}
{% endfor %}





<label>Foto</label>
<p>
                <input type="file" class="filestyle" data-icon="false" data-buttonBefore="true" name="Foto">
            </p>

<label>Informações</label>
<p><textarea rows="4" cols="50" class="form-control" name="Info" required=""></textarea></p>


<button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true">&nbsp;</span>Salvar
                </button>

                        <a href="{% url 'dog_list' %}" class="btn btn-danger" role="button">
                            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true">&nbsp;</span>Cancelar
                        </a>
</form>


<script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/bootstrap-filestyle.min.js' %}"></script>

{% endblock %}
