{% extends 'header.html' %}

{% load static %}

{% block content %}

<div>
    <h1>Meus Interesses</h1>

</div>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Cão</th>
                <th>Protetor</th>
                <th>Interessado</th>
                <th>Data do Registro</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>
            {% for l in listaLinhas %}
                <tr>


                    <td>
                       <a href="{% url 'dog_show' id=l.1 %}"> {{ l.0 }} </a>
                    </td>

                    <td>
                       <a href="{% url 'user_show' id=l.3 %}"> {{ l.2 }} </a>
                    </td>

                    <td>
                        <a href="{% url 'user_show' id=l.5 %}"> {{ l.4 }} </a>
                    </td>

                    <td>
                        {{ l.6 }} 
                    </td>

                    <td>
                        <a href="#" class="btn btn-info" role="button">
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true">&nbsp;</span>Detalhes
                        </a>

                        <a href="#" name="delete" data-id="" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true">&nbsp;</span>Remover
                        </a>
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="javascript:history.go(-1)" class="btn btn-success" role="button">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">&nbsp;</span>Voltar
    </a>

</div>



    


<script type="text/javascript">
$(document).ready(function() {
    bootbox.setDefaults({
        locale: "br"
    });

    $('[name="delete"]').click(function(e) {
        var botaoClicado = $(this);
        var id = botaoClicado.attr("data-id");
        bootbox.confirm({
            size: "small",
            message: "Deseja realmente excluir?",
            callback: function(result) {

                if(result){
                    $.post("{% url 'wish_delete' %}", 
                    {
                        id: id,
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    }, 
                    function() {
                        location.reload();
                    });
                }  
            }
        });
    });
});
</script>







{% endblock %}
