{% extends "header.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<h1>Autenticação</h1>

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

    {% for field in LoginForm  %}
		<label>{{field.label}}</label>
		<p>{{field|add_class:"form-control"}}</p>
{% endfor %}

    <button class="btn btn-primary "type="submit" name="btnLogin" value="Entrar">
        <span class="glyphicon glyphicon-search" aria-hidden="true">&nbsp;</span>Entrar 
    </button>

    <a href="javascript:history.go(-1)" class="btn btn-danger" role="button">
    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true">&nbsp;</span>Cancelar
</a>
</form>



{% endblock %}