{% extends 'header.html' %}

{% block content %}

{% load static %}
    <div class="row">
        <form action="/Search/Search" method="get">

            <div class="col-md-2 col-sm-2">
                <select class="form-control">
                    <option>Fêmea</option>
                    <option>Macho</option>
                </select>
            </div>

            <div class="col-md-2 col-sm-2">
                <select class="form-control">
                    <option>Cão</option>
                    <option>Gato</option>
                    <option>Outro</option>
                </select>
            </div>

            <div class="col-md-2 col-sm-2">

                <button type="submit" class="btn btn-primary" id="btnsearch">
                    <span class="glyphicon glyphicon-search" aria-hidden="true">&nbsp;</span>Pesquisar
                </button>
            </div>
        </form>
    </div>



<div class="hero-spacer">
    {% for c in caes %}
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">

                <img src="{{ MEDIA_URL }}{{ c.Foto.url }}" style="width: 200px; height: 200px"  alt="">
            
                <div class="caption">
                    <h3>{{c.Nome}}</h3>
                    <p>{{c.Sexo}}</p>
                    <p>

                        {% if c.Interesse == True %}
                        <a href="#" class="btn btn-primary" disabled>Interesse</a>
                        {% else %}
                        <a href="#" class="btn btn-primary">Interesse</a>
                        {% endif %}
                        <a href="{% url 'dog_show' id=c.Id %}" class="btn btn-default">Informações</a>
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
